.containerMain{
  background-color: rgba(245, 244, 249, 1);
  width: 100%;
}
section{
  display: flex;
  justify-content: center;
  text-align: center;
}
.textMid {
  text-align: center;
  margin-top: 400px;
}
.section1{
  font-family: Nunito;
  font-size: 36px;
  font-weight: 700;
line-height: 140%;
color: rgba(170, 111, 52, 1);
}
.section2{
  font-family: Nunito;
  font-size: 48px;
  font-weight: 700;
line-height: 140%;
color: rgba(117, 117, 117, 1);
}
.faleConosco img{
  position: absolute;
    bottom: 38px;
    right: 33px;
}
a{
  text-decoration: none;
}