*{
    font-family: 'Nunito';
}
body {
    background-color: rgba(187, 192, 205, 0.4);
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: "Nunito Sans", sans-serif;
  }
  .container h2 {
    font-size: 27px;
    display: flex;
    justify-content: center;
    font-family: 'Nunito';
  }
  
  .container_login {
    background-color: white;
    border-radius: 24px 0px 0px 24px;
    background: var(--Branco, #fff);
    height: 100vh;
    width: 40%;
    box-shadow: 0px 7px 30px 0px rgba(187, 192, 205, 0.4);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .container {
    display: flex;
    justify-content: space-between;
  }
  .conteudo img {
    width: 245px;
  }
  .coracao img {
    height: 100vh;
    width: 100%;
    margin-left: 93px;
  }
  .coracao {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .ou_entao {
    display: flex;
    align-items: center;
    gap: 7px;
  }
  .linha_horizontal {
    border-top: 1px solid #616161;
    width: 50px;
  }
  .formulario {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .formulario input {
    border-radius: 16px;
    border: 1px solid;
    border-color: #00c247;
    width: 300px;
    height: 40px;
    outline: none;
  }
  .formulario label {
    position: absolute;
    font-size: 13px;
    background-color: white;
    color: #00c247;
  }
  .conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .label-senha {
    bottom: 34px;
    left: 8px;
  }
  .label-senha {
    bottom: 97px;
    left: 6px;
  }
  .abaixo-input {
    display: flex;
    justify-content: space-between;
    margin: 24px 0;
  }
 
  .botoes {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .botoes button {
    width: 300px;
    height: 38px;
    border-radius: 8px;
    background-color: #00c247;
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
    border-color: white;
    position: relative;
    bottom: -24px;
  }
  
  
  

  
  
  